.courseCard {
  position: absolute;
  background-color: white;
  top: 6em;
  right: 5em;
  z-index: 10;
  width: 300px;
  padding: 2px;
  border: solid;
}

.courseCardImg {
  width: 100%;
}

.courseCardBody {
  margin: 10px;
}

.courseCard button {
  display: block;
  width: 100%;
  margin: 5px;
  height: 40px;
}

.courseCard .addCartBtn {
  background-color: blue;
  color: white;
}

.courseCard svg {
  margin-right: 10px;
}

.courseCard span {
  border-bottom: solid;
  font-weight: bold;
}

.courseCardFooter {
  margin: 10px;
}

@media screen and (max-width: 1100px) {
  .courseCard {
    display: none;
  }
}
