.courseHeader {
  background-color: darkslategrey;
  color: white;
  padding: 20px 20px 20px 10em;
}

.otherData {
  display: flex;
  justify-content: space-between;
  width: 30em;
}

.wrapper {
  width: 600px;
}
